<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/staticfiles/css/chatstyle.css">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>Chat Room</h1>
            <form method="post" action="{% url "checkroom" %}">
                {% csrf_token %}
                <div>
                    <label for="rname">Room Name</label>
                    <input type="text" id="rname" name="rname">
                </div>
                <div>
                    <label for="uname"> Username</label>
                    <input type="text" id="uname" name="uname">
                </div>
                <input type="submit" value="Enter Room" id="btn_sub">
            </form>
    </section>
</body>
</html>