<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/staticfiles/css/chatstyle.css">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>chat app</title>
</head>
<body>
    <section>
        <h1>Room Name : {{roomname}} </h1>
        <script>
           $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type:'GET',
                    url:'/chat/getmsg/{{roomname}}',
                    success:function(response){
                        // console.log(response)
                        $('#sec-msg').empty();
                        for(var key in response.msg){
                            var divs = "<div class='msg-cont'><h3 style='text-transform: capitalize;'>"+response.msg[key].user+"</h3><p>"+response.msg[key].value+"</p><span>"+response.msg[key].date+"</span></div>";
                            $('#sec-msg').append(divs)
                        }
                    }
                })
            },1000)
           })
        </script>
        <div class="msg">
            <div class="sec-msg" id="sec-msg" style="display: flex; gap: 1rem;">
               
            </div>
            <form id="post-form">
                {% csrf_token %}
                <input type="hidden" name="username" id="username" value="{{username}}">
                <input type="hidden" name="room_id" id="room_id" value="{{room_info.id}}">
                <input type="text" name="msg" id="msg">
                <input type="submit" value="Send" name="sub" id="btn_sub">
            </form>
        </div>
    </section>
    <script type="text/javascript">
        $(document).on('submit','#post-form',function(e){
            e.preventDefault;
            $.ajax({
                type:'POST',
                url:'/chat/send',
                data:{
                    username:$('#username').val(),
                    room_id:$('#room_id').val(),
                    message:$('#msg').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },
                success:function(response){
                    console.log(response)
                }
            });
            document.getElementById('msg').value=''
        })
    </script>
</body>
</html>