<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Todo</title>
</head>
<body>
    <h1>todo list</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button name="sub">Add</button>
    </form>
    <section style="margin-top: 2rem;">
        <table border="1" cellpadding=10>
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>user</th>
                <th>Action</th>
            </tr>
            {% for t in list %}
            <tr>
                <td>{{t.todoname}}</td>
                <td>{{t.tododesc}}</td>
                <td>{{t.user}}</td>
                <td><button><a href="edit/{{t.id}}">Edit</a></button><button><a href="del/{{t.id}}">Delete</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>