<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>todo edit</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="name" value="{{list.todoname}}" placeholder="task name"><br><br>
        <textarea name="desc" rows="10" cols="30" id="">{{list.tododesc}}</textarea><br><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>