body{
    background-color: gainsboro;
}
section{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
form{
    width: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
input[type=text],input[type=submit]{
    padding: 0.3rem;
    font-size: 18px;
    outline: none;
}
#btn_sub{
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem;
}
.msg{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.sec-msg{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.msg-cont{
    background-color:#ddd;
    padding: 0.7rem;
    border-radius: 10px;
}
h3{
    font-size: 15px;
    font-weight: 600;
}
.msg-cont p{
    font-size: 22px;
    font-weight: bold;
}