header{
    padding: 1rem;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
#box_search{
    width: 70%;
}
#btn_search{
    width: 80px;
    border-top-right-radius:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    padding: 1rem;
    height: 530px;
    background-color: rosybrown;
}
span{
    font-size: 18px;
    font-weight: 600;
}
#meanings{
    margin-top: 1rem;
    color:darkred;
}
#word{
    color: white;
}